$blue-color: rgba(58, 136, 199, 1);
$white-color: rgba(228, 229, 230, 1);
$grey-color: #92989e;
$red-color: rgba(255, 0, 0, 0.733);
$orange-color: rgba(255, 166, 0, 0.838);
$gradient-color: linear-gradient(
  190deg,
  rgba(58, 136, 199, 1) 0%,
  rgba(58, 136, 199, 1) 4%,
  rgba(228, 229, 230, 1) 100%
);
