@import "../../assets/scss/colors.module";

.crud-form {
  width: 100%;
  padding: 20px 30px;
  form {
    display: flex;
    flex-direction: column;
  }
  &__actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  &__title {
    text-align: center;
    margin-bottom: 30px;
    color: $blue-color;
  }
  &__error {
    color: $red-color;
    margin-bottom: 15px;
  }
}

@media (min-width: "992px") {
  .crud-form {
    width: 30%;
  }
}
