@import "./assets/scss/colors.module";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root {
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
}

body {
  background: $gradient-color;
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
}

html[lang="ar"] {
  direction: rtl;
}

html[lang="en"] {
  direction: ltr;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid $blue-color;
}
.btn:hover,
.btn:focus-visible {
  background-color: $blue-color;
  color: white;
  outline: none;
}
